:root {
  --Orange: #FFA500;
  --DarkOrange: #e07f07;
  --Button: #FF8C00;
  --DarkGray: #6b6b6b;
  --Gray: #f0f0f0;
  --Black: #000;
  --White: #fff;
  --LightGray: #e6e4e4;
  --Brown: #5f3d0b;
  --table: #f3deb0;
  --transparent: #f1dcaf00;
  --PaleOrange: #dbc79b;
  --Item: #f4cf9b;
  --LightOrange: #f7db9f;
  --Red: #ff2d37;
  --FadedRed: #ffe0e1;
  --Green: #2db928;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  overflow: hidden;
  background-color: var(--Orange);
}


line{
  margin-top: -3px;
}

#menuIMG{
  width: 30%;
  height: inherit;
  margin-right: -30px;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
}

#menuButton{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#menuButton:hover{
  background-color: var(--DarkOrange);
}

.logo {
  display: flex;
}

a {
  color: var(--Black);
  text-decoration: none;
}

a:hover {
  color: var(--Black);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--Black);
  text-align: center;
  padding: 14px 19px;
  text-decoration: none;
}

li a:hover {
  color: var(--DarkOrange);
  background-color: var(--Black);
}

div.logo {
  border-radius: 5px;
  background-color: var(--Orange);
}

#longLogo {
 display: block;
}

#shortLogo {
  display: none;
  width: 0%;
}

@media only screen and (max-width: 426px) {
  #menuIcon{
    width: 40%;
  }

  #longLogo {
    display: none;
    width: 0%;
   }

  #shortLogo {
     display: block;
     width: 30%;
  }
}
 
@media only screen and (max-width: 320px) {
  .parkingMatrixItem {
    padding: 3px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}