:root {
    --continentalOrange: #FFA500;
    --continentalDarkOrange: #e07f07;
    --continentalButton: #FF8C00;
    --continentalDarkGray: #6b6b6b;
    --continentalGray: #f0f0f0;
    --continentalBlack: #000;
    --continentalWhite: #fff;
    --continentalLightGray: #e6e4e4;
    --continentalBrown: #5f3d0b;
    --table: #f3deb0;
    --transparent: #f1dcaf00;
    --continentalPaleOrange: #dbc79b;
    --inventoryItem: #f4cf9b;
    --inventoryLightOrange: #f7db9f;
    --continentalRed: #ff2d37;
    --continentalFadedRed: #ffe0e1;
    --continentalGreen: #2db928;
    --continentalBlue: #00a5dc;
}

html {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
  
body {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: var(--continentalBrown);
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

h2 {
    padding-right: 15px;
}

td {
    padding: 12px;
    width: 10%;
    height: 100%;
    font-size: medium;
    border: 1px solid rgb(201, 175, 120);
}

tr, thead {
    background-color: var(--table);
    border: 5px solid var(--continentalWhite);
    text-align: center;
}

thead {
    font-weight: bold;
}

.logo {
    display: flex;
}

.formFields {
    width: 85%;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.submitButton {
    width: 70%;
    border-radius: 30px;
    background-color: var(--continentalButton);
    color: var(--continentalWhite);
    cursor: pointer;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    opacity: 0.9;
}

.submitButton:hover {
    background-color: var(--continentalDarkGray);
}

p[id$="Message"] {
    text-align: center;
    font-size: small;
    margin-top: -15px;
    width: inherit;
}

#menu {
    right: 20px;
}

#root {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

@media only screen and (max-width: 768px) {
    #root {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }

    #menu {
        right: 15px;
    }
}

@media only screen and (max-width: 426px) {
    #menu {
        right: 5px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
      }
    
      h2 {
        font-size: 20px;
        line-height: 24px;
      }
      
      p {
        font-size: 16px;
        line-height: 20px;
      }
    
      #root {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
      }

    #logoutButton{
        font-size: medium;
    }

    .formFields {
        width: 90%;
    }

    .greeting {
        flex-direction: column;
    }
}