:root {
    --continentalOrange: #FFA500;
    --continentalDarkOrange: #e07f07;
    --continentalButton: #FF8C00;
    --continentalDarkGray: #6b6b6b;
    --continentalGray: #f0f0f0;
    --continentalBlack: #000;
    --continentalWhite: #fff;
    --continentalLightGray: #e6e4e4;
    --continentalBrown: #5f3d0b;
    --table: #f3deb0;
    --transparent: #f1dcaf00;
    --continentalPaleOrange: #dbc79b;
    --inventoryItem: #f4cf9b;
    --inventoryLightOrange: #f7db9f;
    --continentalRed: #ff2d37;
    --continentalFadedRed: #ffe0e1;
    --continentalGreen: #2db928;
    --continentalBlue: #00a5dc;
}

.MuiCard-root {
    text-align: justify;
}

.MuiMenuItem-root {
    white-space: unset !important;
    text-align: justify;
}

.MuiDataGrid-root .MuiDataGrid-toolbarContainer {
    flex-wrap: wrap;
}

.annualInventory {
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.notifications {
    display: flex;
    flex-direction: column;
}

.notificationsBody {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

html {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
  
body {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: var(--continentalBrown);
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

h2 {
    padding-right: 15px;
}

td {
    padding: 12px;
    width: 10%;
    height: 100%;
    font-size: medium;
    border: 1px solid rgb(201, 175, 120);
}

tr, thead {
    background-color: var(--table);
    border: 5px solid var(--continentalWhite);
    text-align: center;
}

thead {
    font-weight: bold;
}

.logo {
    display: flex;
}

#logoutButton {
    border-radius: 5px;
    border: 1px solid var(--continentalBlack);
    background-color: var(--continentalOrange);
    color: var(--continentalBlack);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#logoutButton:hover{
    background-color: var(--continentalDarkOrange);
}

.itemInvNumber {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.itemButton {
    width: fit-content;
    border-radius: 5px;
    background-color: var(--continentalOrange);
    color: var(--continentalBlack);
    font-size: small;
    cursor: pointer;
}

.itemButton:hover {
    background-color: var(--continentalDarkOrange);
}

img[id$="Icon"] {
    width: 40px;
    height: auto;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

img[id="brokenItemIcon"] {
    width: auto;
    height: 40px;
    border-radius: 5px;

}

.MuiButton-containedPrimary {
    color: var(--continentalBlack) !important;
    height: 100% !important;
}

.MuiListItem-button:hover {
    background-color: var(--continentalDarkOrange) !important;
}

.MuiTouchRipple-root:hover {
    background-color: var(--continentalButton) !important;
}

.MuiButton-containedPrimary {
    background-color: var(--continentalButton) !important;
}

.MuiButton-containedPrimary:hover {
    background-color: var(--continentalDarkOrange) !important;
}

.MuiList-root {
    display: flex;
    flex-direction: column !important;
}

#itemTable {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.divFormUpdateItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formUpdateItem {
    display: none;
    width: 90%;
}

#updateSingleItem {
    padding: 0px;
    background-color: var(--transparent);
}

#deleteSingleItem {
    padding: 0px;
    background-color: var(--transparent);

}

.updateDelete {
    background-color: var(--transparent);
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 100%;
} 

#updateSingleItem:hover, #deleteSingleItem:hover {
    background-color: var(--continentalPaleOrange);
}

div[id$="Item"], div[class^="functionality"] {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    width: 90%;
    background-color: var(--inventoryItem);
    margin-top: 5px;
}

div[class^="functionality"] {
    width: 80%;
}

div[id$="Item"]:hover, div[class^="functionality"]:hover{
    background-color: var(--inventoryLightOrange);
}

div {
    border-radius: 5px;
}

.itemsTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#add, #broken {
    display: none;
    width: 90%;
}

[id^="functionalityF"], [id^="functionalityT"] {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.formFields {
    width: 85%;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.submitButton {
    width: 70%;
    border-radius: 30px;
    background-color: var(--continentalButton);
    color: var(--continentalWhite);
    cursor: pointer;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    opacity: 0.9;
}

.submitButton:hover {
    background-color: var(--continentalDarkGray);
}

.MuiButton-textPrimary {
    color: var(--continentalDarkOrange) !important;
}

.MuiDataGrid-root .MuiDataGrid-toolbarContainer {
    justify-content: center !important;
}

ul .MuiTimeline-root, .MuiTimeline-alignAlternate {
    background-color: transparent !important;
}

.MuiInputBase-root input[type=text] {
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
    padding: 6px 0 7px !important;
    min-width: 0 !important;
}

.inventoryManagement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p[id$="Message"] {
    text-align: center;
    font-size: small;
    margin-top: -15px;
    width: inherit;
}

#menu {
    right: 20px;
}

#root {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

@media only screen and (max-width: 768px) {
    #root {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }

    #menu {
        right: 15px;
    }
}

@media only screen and (max-width: 426px) {
    #menu {
        right: 5px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
      }
    
      h2 {
        font-size: 20px;
        line-height: 24px;
      }
      
      p {
        font-size: 16px;
        line-height: 20px;
      }
    
      #root {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
      }

    #logoutButton{
        font-size: medium;
    }

    [id^="serialNumber"], [id^="productName"] {
        display: none;
    }

    .formFields {
        width: 90%;
    }
    #add, #update, #delete, #find, #broken {
        display: none;
        width: 95%;
    }

    div[id$="Item"] {
        width: 95%;
    }

    .greeting {
        flex-direction: column;
    }
}